<body>
    <div style="text-align: center">
        <h2 style="text-align: center">Step Number</h2>
        
        <!-- text area for input data-->
        <div id = "first">
            <h3>Input Data:</h3>
            <textarea style ="align-self: flex-start" rows ="10" cols ="30" [(ngModel)]="inputdata"></textarea>
                
        </div>
        <!--for Display and popup buttons-->
        <div id = "second">
            <br/>
            <button type ="text" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" id = "buttons" (click)="showDialog()" >Pop Up</button>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <button type ="text" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" id = "buttons" (click)="displaycomponent()">Display</button>
                
        </div>
        <!--For displaying the component in the same page-->
        <div id = "third" *ngIf ="dis">
            <!--checking for appropriate data-->
            <div class="content-section implementation" *ngIf = "data.label && data.step ;else error" >
                <!--displaying component-->
                {{data.label}}: <p-spinner  [(ngModel)]="val" step="{{data.step}}"></p-spinner>
            </div>
            <!--Error Message-->
            <ng-template #error>
                <h3 style="color:red"> Invalid data </h3>
            </ng-template>
        </div>
                
    </div>
</body>
                
<!--for popup-->
<p-dialog header="{{data.label}}" [(visible)]="display" [style]="{width:'500px',height:'200px'}"[modal]="true">
    <!--checking for appropriate data-->
    <div class="content-section implementation" *ngIf = "data.label && data.step ;else error">
        <!--Dispalying Component in popup-->
        <p-spinner  [(ngModel)]="val" step="{{data.step}}"></p-spinner>
    </div>
     <!--error Message-->
    <ng-template #error>
        <h3 style="color:red"> Invalid data </h3>
    </ng-template>

</p-dialog>
