<body>
    <div>
         <!--for Display and popup buttons-->
        <div id = "second" style="margin-left: 30%">
            <br/>
            <button type ="text" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" id = "buttons"(click)="showDialog()" >Pop Up</button>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            
        </div>
         <!--For displaying the component in the same page-->
        <div id = "third" style="width: 50%">
                
            <div class="content-section implementation">
                 <!--displaying component-->
                <p-fullCalendar [events]="events" [options]="options"></p-fullCalendar>
            </div>

        </div>
    
    </div>
</body>
<!--for popup-->
<p-dialog  [(visible)]="display" [style]="{width:'500px',height:'200px'}"[modal]="true">
                   
    <div class="content-section implementation">
        <!--Dispalying Component in popup-->
        <p-fullCalendar [events]="events" [options]="options"></p-fullCalendar>
    </div>

</p-dialog>






