
<body>
    <div>
        <h2 style="text-align: center">File Uploder</h2>
        <br/>
        <div id = "first"style="text-align: center">
            <!-- text area for input data-->
            <h3>Input Data:</h3>
                <textarea style ="align-self: flex-start" rows ="10" cols ="30" [(ngModel)]="inputdata"></textarea>
                
            </div>
            <!--for Display and popup buttons-->
        <div id = "second">
            <br/>
            <button type ="text" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" id = "buttons" (click)="showDialog()" >Pop Up</button>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <button type ="text" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" id = "buttons" (click)="displaycomponent()">Display</button>
                
        </div>
         <!--For displaying the component in the same page-->
        <div id = "third" *ngIf="dis">
             <!--checking for appropriate data-->
            <div *ngIf = "data.label && data.url;else error">
                <p-toast [style]="{marginTop: '80px'}"></p-toast>
                 <!--displaying component-->
                <p-fileUpload name="{{data.name}}" url='{{data.url}}' (onUpload)="onUpload($event)"
                                multiple="{{data.multiple}}" accept="{{data.accept}}"  maxFileSize="{{data.maxsize}}">
                    <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                        </ul>
                    </ng-template>
                </p-fileUpload>
            </div>
              <!--Error Message-->
            <ng-template #error>
                <h3 style="color:red"> Invalid data </h3>
            </ng-template>
        </div>
                
    </div>
</body>

<!--for popup-->
<p-dialog header="{{data.label}}" [(visible)]="display" [style]="{width:'500px',height:'200px'}"[modal]="true">
    <p-toast [style]="{marginTop: '80px'}"></p-toast>
     <!--checking for appropriate data-->
    <div *ngIf = "data.label && data.url;else error">
        <!--Dispalying Component in popup-->
        <p-fileUpload name="{{data.name}}" url='{{data.url}}' (onUpload)="onUpload($event)"
                multiple="{{data.multiple}}" accept="{{data.accept}}"  maxFileSize="{{data.maxsize}}">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
    </div>
    <!--error Message-->
    <ng-template #error>
        <h3 style="color:red"> Invalid data </h3>
    </ng-template>
        
</p-dialog>
    
   








