<body><div style="text-align: center">
  
        <div id = "first">
            <h3>Input Data:</h3>
            <textarea style ="align-self: flex-start" rows ="10" cols ="30" [(ngModel)]="inputdata"></textarea>
        
        </div>
        <div id = "second">
            <br/>
            <button type ="text" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" id = "buttons" (click)="showDialog()" >Pop Up</button>
                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                
                <button type ="text" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" id = "buttons" (click)="displaycomponent()">Read</button>
        
        </div>
        <div id = "third" *ngIf = "dis">
                       
    <div class="content-section implementation" *ngIf =" data && (data.label && data.type=='password');else error">
       
            {{data.label}}: <input pPassword type="{{data.type}}" [(ngModel)]="password"/>
       </div>
       <ng-template #error>
          <h3 style="color:red"> Invalid data </h3>
       </ng-template>
       
        </div>
        
        </div>
        </body>
        
        


<p-dialog header="{{data.label}}" [(visible)]="display" [style]="{width:'300px',height:'100px'}" [modal]="true" >
       
                
    <div class="content-section implementation" *ngIf ="data.label && data.type=='password';else error" >
       
        <input pPassword type="{{data.type}}" [(ngModel)]="password"/>
   </div>
   <ng-template #error>
    <h3 style="color:red"> Invalid data </h3>
 </ng-template>
</p-dialog>
    




